{{ define "title" }}Saleina CMS | Open Source Content Managment System | Static Content Management System{{ end }}

{{ define "main" }}
<h1>Open source static content management system for your Git workflow</h1>
<a class="button" href="/docs/introduction/">get started</a>

<div id="main-content">

	<ul id="why">

		<li>
			<h5>Static + Saleina CMS = 😍</h5>
			<p>Get the speed, security, and scalability of a static site, while still providing a convenient editing interface for content.</p>
		</li>

		<li>
			<h5>An integrated part of your Git workflow</h5>
			<p>Content is stored in your Git repository alongside your code for easier versioning, multi-channel publishing, and the option to handle content updates directly in Git.</p>
		</li>

		<li>
			<h5>Editor friendly user interface</h5>
			<p>The web based app includes tabbed UI, rich-text editing, and media management.</p>
		</li>

		<li>
			<h5>Community driven project</h5>
			<p>Saleina CMS is built by a community and you can <a href="https://github.com/saleina/saleinacms/">help.</a></p>
		</li>

	</ul>

</div>
{{ end }}