<!DOCTYPE html>
<html>
<head>
    <title>{{ block "title" . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,900">
</head>
<body>
    <header>
        <a id="logo" href="/"><img src="/images/logo.png" alt="Saleina CMS logo"></a>
        <div id="nav">
            <ul id="sub-nav">
                <li><a href="/docs/introduction/">docs</a></li>
                <li><a href="/blog/">blog</a></li>
                <li><a href="/support/">support us</a></li>
            </ul>
            <button disabled>demo - coming soon</button>
        </div>
    </header>

    <main id="main">
        {{ block "main" . }}
        {{ end }}
    </main>

    <footer id="footer">
        <div id="social">
            <a class="button" href="https://gitlab.com/saleina/saleinacms">GitLab</a>
            <a class="button" href="tg://resolve?domain=saleinacms">Telegram</a>
        </div>
        <div id="extra">
            <a href="https://gitlab.com/saleina/SaleinaCMS/blob/master/LICENSE">Distributed under MIT License</a> | <a href="https://gitlab.com/saleina/SaleinaCMS/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a>
        </div>
    </footer>
</body>
</html>